@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap'); /* Raleway font */




/* ================================================== GENERAL properties */

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #0065fc;
    text-decoration: none;
}

section.results-popular, section.results-destination, section.suggestions {
    padding: 20px;
}

/* =========================================================================== */




/* ================================================== LOGO and NAVIGATION */

/* -------------------- Logo */

header {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
}

header div.logo {
    padding: 20px 5px 5px 20px;
    flex-grow: 1;
}

/* ---------------------------------------- */


/* -------------------- Register link */

header div.register {
    align-self: flex-end;
    flex-grow: 1;
    padding: 18px;
    text-align: right;
}

header div.register a {
    color: #0065fc;
    font-size: 1rem;
    font-weight: 700;
}

header div.register a:hover {
    color: #000000;
}

/* ---------------------------------------- */


/* -------------------- Quick links */

nav.quick-link {
    flex-grow: 2;
}

nav.quick-link ul {
    display: flex;
    list-style-type: none;
    padding: 0; /* 100% screen width for "quick links"  */
}

nav.quick-link li {
    border-bottom: 3px solid #f2f2f2;
    flex-grow: 1;
    min-width: 100px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    width: 50%;
}

nav.quick-link li:first-child {
    border-bottom: 3px solid #0065fc;
}

nav.quick-link li:first-child a {
    color: #0065fc;
}

nav.quick-link li:hover {
    border-bottom: 3px solid #0065fc;
}

nav.quick-link li:hover a {
    color: #0065fc;
}

/* ---------------------------------------- */

/* =========================================================================== */




/* ================================================== SEARCH a destination */

div.search-headline, div.search-destination {
    padding: 0 20px;
}

h1 {
    font-size: 1.35rem;
    margin: 12px 0;
}


/* -------------------- Search field */

div.search-destination input, div.search-destination button {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 10px 0;
    padding: 15px;
}

span.pin {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    font-size: 1.1rem;
    margin-right: -5px;
    padding: 18px;
    padding-top: 17px;
    position: relative;
}

input#destination {
    border: 1px solid #f2f2f2;
    color: #000000;
    margin-right: -15px;
    max-width: 55%;
}

input#destination:focus {
    background-color: #f2f2f2;
}

button#find {
    background: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 15px;
    color: #ffffff;
}

button#find:active {
    background: #000000;
    border: 1px solid #000000;
}

/* ---------------------------------------- */


/* -------------------- Filters list */

div.search-filters {
    display: flex;
    flex-flow: column nowrap;
}

div.search-filters h3 {
    margin: 12px 0;
}

div.search-filters ul {
    margin: 0;
    padding: 0;
}

div.search-filters li {
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 100px;
    display: inline-block;
    margin: 0 4px 8px 0;
}

div.search-filters li:hover {
    background-color: #d9d9d9;
    border: 2px solid #ffffff;
}

div.search-filters span {
    border-radius: 25px;
    background-color: #deebff;
    color: #0065fc;
    padding: 17px;
    position: relative;
    /* transform:scale(0.8,1); Resizing icon ? */
}

div.search-filters input {
    background-color: transparent;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-size: 1rem;
    margin: 0 0 0 -45px;
    padding: 14px 14px 13px 50px;
}

/* ---------------------------------------- */


/* -------------------- Destinations informations */

div.search-informations {
    display: flex;
    margin-bottom: 20px;
}

div.search-informations span {
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    color: #0065fc;
    font-size: 0.7rem;
    margin: 0 10px 20px 0;
    padding: 5px 9px;
}

div.search-informations p:last-child {
    font-size: 0.95rem;
    padding: 4px 0 ;
}

/* ---------------------------------------- */

/* =========================================================================== */




/* ================================================== POPULAR and DESTINATION and results */

section.results-popular {
    background: #f2f2f2;
}

section.results-popular h2 span {
    float: right;
    /* width ? */
}

section.results-destination {
    background: #ffffff;
}


/* -------------------- Results panel */

article {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 8px #dddddd;
    margin: 15px 0;
    padding: 5px;
    transition: all 0.2s ease-in; /* Hovering effect */
}
/* Hovering effect
article:hover {
    transform: scale(0.99, 0.99);
}
*/
article h2 {
    font-size: 1.01rem;
    margin: 5px 0;
}

article p {
    font-size: 0.85rem;
    margin: 0; /* fix padding 5px ARTICLE */
}

article img {
    object-fit: cover;
    object-position: 50% 50%;
}

article span { /* Rating stars */
    font-size: 0.7rem;
    color: #0065fc;
}

article span.empty {
    color: #d9d9d9;
}

/* ---------------------------------------- */


/* -------------------- Popular destinations panel */

section.results-popular article {
    display: flex;
    flex-flow: row nowrap;
    height: 134px;
}

p.popular-illustration img {
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 128px;
}

div.popular-description {
    padding: 0 0 0 20px;
}

div.popular-description h2 {
    margin: 12px 0 6px 0 ;
}

div.popular-description p:last-child {
    padding-top: 15%;
}

/* ---------------------------------------- */


/* -------------------- Destination results panel */

section.results-destination article img {
    border-radius: 15px 15px 0 0;
    height: 114px;
    width: 100%;
}

div.destination-description  {
    margin: 5px 10px;
}

div.destination-description p:last-child {
    padding-top: 5px;
}

section p.more {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 30px;
}

/* ---------------------------------------- */

/* =========================================================================== */




/* ================================================== SUGGESTION associated with search */

section.suggestions {
    padding-bottom: 30px;
}

section.suggestions figure {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 8px #dddddd;
    margin: 20px 0;
    transition: all 0.2s ease-in;
}

/* Hovering effect
section.suggestions figure:hover {
    box-shadow: 0 2px 8px #dddddd;
    transform: scale(0.99, 0.99);
}
*/
section.suggestions img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: 50% 20%;
    height: 134px;
    width: 100%;
}

section.suggestions img.vertical-image {
    object-position: 50% 42%;
}

section.suggestions figcaption {
    font-weight: 700;
    padding: 15px 20px;
}

/* =========================================================================== */




/* ================================================== INFORMATIONS and HELP */

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

footer h2 {
    font-size: 1.1rem;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
}

footer li {
    padding: 7px 0;
}

/* =========================================================================== */
















/* =========================================================================== */
/* ================================================== Adjustements for tablet type screens */
/* =========================================================================== */

@media screen and (min-width: 480px) {

    /* ================================================== LOGO and NAVIGATION */

    header {
        justify-content: right;
    }


    /* -------------------- Logo */

    header div.logo {
        flex-grow: 1;
        padding-top: 30px;
    }

    /* ---------------------------------------- */


    /* -------------------- Register link */

    header div.register {
        border-top: 2px solid #ffffff;
        flex-grow: 0;
        order: 4;
        padding: 40px 5% 40px 5px;
    }

    /* ---------------------------------------- */


    /* -------------------- Quick links */

    nav.quick-link {
        flex-grow: 0; /* limit width of "quick links" */
    }

    nav.quick-link ul {
        margin: 0;
    }

    nav.quick-link li {
        border-bottom: none;
        font-weight: 500;
        padding: 40px 10px 0 10px;
    }
    
    nav.quick-link li:hover {
        border-bottom: none;
    }

    nav.quick-link li:first-child {
        border-bottom: none;
        border-top: 2px solid #0065fc;
    }

    nav.quick-link li:last-child {
        border-top: 2px solid #ffffff;
    }

    nav.quick-link li:last-child:hover {
        border-top: 2px solid #d9d9d9;
    }

    /* ---------------------------------------- */

    /* =========================================================================== */




    /* ================================================== SEARCH a destination */

    main {
        margin: 0 20px;
    }

    h1 {
        margin-top: 24px;
    }


    /* -------------------- Search field */

    div.search-destination p {
        margin: 0 0 10px 0;
    }

    input#destination {
        margin-right: -32px;
    }

    button#find {
        border-radius: 0 15px 15px 0;
    }
    
    button#find::before {
        color: #ffffff;
        content: "Rechercher";
        margin-right: -18px;
    }

    button#find span {
        visibility: hidden;
    }

    /* ---------------------------------------- */

    /* =========================================================================== */




    /* ================================================== POPULAR and DESTINATION and results */

    section.results-popular, section.results-destination {
        border-radius: 25px;
    }


    /* -------------------- Popular destinations panel */
    /*
    p.popular-illustration img {
        border-radius: 15px 0 0 15px;
        height: 100%;
        width: 200px;
    }
    */
    /* ---------------------------------------- */


    /* -------------------- Destination results panel */

    section.results-destination div.destination-panels {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    section.results-destination div.destination-panels a {
        flex-grow: 1;
        width: 50%; /* two columns */
    }

    section.results-destination h2, section.results-destination div.destination-panels article {
        margin: 15px 2%;
    }

    /* ---------------------------------------- */

    /* =========================================================================== */




    /* ================================================== SUGGESTION associated with search */

    div.suggestions-panels {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    div.suggestions-panels div {
        width: 300px;
    }

    div.suggestions-panels img {
        height: 390px;
    }

    div.suggestions-panels img.half-panel {
        height: 165px;
    }
/*
    section.suggestions a {
        display: initial;
        width:initial;
        height:initial;
    }

    }section.suggestions img {
        object-position: 50% 20%;
    }
*/

    /* =========================================================================== */




    /* ================================================== INFORMATIONS and HELP */

    footer {
        padding: 30px 100px 30px 50px;
    }

    footer nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    footer ul {
        margin-right: 100px;
        padding-top: 0;
    }

    /* =========================================================================== */    

}
















/* =========================================================================== */
/* ================================================== Adjustements for desktop type screens */
/* =========================================================================== */

@media screen and (min-width: 768px) {
    
    header, main {
        margin: 0 auto;
        max-width: 1340px;
        padding: 0 50px;
    }


    /* ================================================== LOGO and NAVIGATION */

    /* -------------------- Logo */

    header div.logo {
        padding-top: 40px;
    }

    /* ---------------------------------------- */


    /* -------------------- Register link */

    header div.register {
        padding-right: 20px;
    }

    /* ---------------------------------------- */

    /* =========================================================================== */



    
    /* ================================================== SEARCH a destination */

    main {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: flex-end;
        align-content:stretch /* TO TEST */
    }


    /* -------------------- Filters list */

    div.search-filters {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 25px;
        margin-top: 20px;
    }
    
    div.search-filters ul {
        margin-left: 32px;
    }
    
    div.search-filters li {
        margin-right: 16px;
    }

    /* ---------------------------------------- */

    
    div.search-informations {
        margin-bottom: 10px;
    }
    
    /* =========================================================================== */

   
    

    /* ================================================== POPULAR and DESTINATION and results */

    /* -------------------- Popular destinations panel */

    section.results-popular {
        flex: 0 1 25%;
        margin-left: 3%;
        padding: 20px 36px;
    }

    section.results-popular div.popular-panels article {
        min-width: 275px;
    }

    /* ---------------------------------------- */


    /* -------------------- Destination results panel */
    
    section.results-destination {
        flex: 1 1 0; /* "0" allow "destination results panels" to form one column with narrowest desktop resolution */
        background-color: #f2f2f2;
    }

    section.results-destination div.destination-panels a {
        flex-grow: 1; /* delete ? */
        width: 30%;  /* auto works only on Firefox */
        min-width: 240px;
    }

    section.results-destination div.destination-panels article {
        margin: 15px 5%;
    }

    /* ---------------------------------------- */

    /* =========================================================================== */




    /* ================================================== SUGGESTION associated with search */
    /* =========================================================================== */  




    /* ================================================== INFORMATIONS and HELP */

    footer nav {
        margin: 0 auto;
        max-width: 1290px; /* always align (with main) the footer lists to the left */
    }

    /* =========================================================================== */  

}