@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap'); /* Raleway font */




/* ================================================== GENERAL properties */

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin: 0;
}

a, a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover, a:focus {
    color: #0065fc;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.results-popular, .results-destination, .suggestions {
    padding: 20px;
}

/* =========================================================================== */




/* ================================================== LOGO and NAVIGATION */

/* -------------------- Logo */

header {
    display: flex;
    flex-flow: row wrap;
}

.logo {
    flex-grow: 1;
    padding: 20px 5px 5px 20px;
}

/* ---------------------------------------- */


/* -------------------- Register link */

.register {
    align-self: flex-end;
    flex-grow: 1;
    padding: 18px;
    text-align: right;
}

.register a {
    color: #0065fc;
    font-weight: 700;
}

.register a:hover {
    color: #000000;
}

/* ---------------------------------------- */


/* -------------------- Quick links */

.quick-link {
    flex-grow: 2;
}

.quick-link ul {
    display: flex;
    list-style-type: none;
    padding: 0; /* 100% screen width for "quick links"  */
}

.quick-link li {
    border-bottom: 3px solid #f2f2f2;
    flex-grow: 1;
    font-weight: 500;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.quick-link li:first-child {
    border-bottom: 3px solid #0065fc;
}

.quick-link li:first-child a {
    color: #0065fc;
}

.quick-link li:hover {
    border-bottom: 3px solid #0065fc;
}

.quick-link li:hover a {
    color: #0065fc;
}

/* ---------------------------------------- */

/* =========================================================================== */




/* ================================================== SEARCH a destination */

.search-headline, .search-destination {
    padding: 0 20px;
}

h1 {
    font-size: 1.35rem;
    margin: 18px 0 12px ;
}


/* -------------------- Search field */

.search-destination input, .search-destination button {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 10px 0;
    padding: 15px;
}

.pin {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    font-size: 1.1rem;
    margin-right: -5px;
    padding: 18px;
    padding-top: 17px;
    position: relative;
}

#destination {
    border: 1px solid #f2f2f2;
    color: #000000;
    margin-right: -15px;
    max-width: 55%;
}

#destination:focus {
    background-color: #f2f2f2;
}

#find {
    background: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 15px;
    color: #ffffff;
}

#find:focus {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: initial;
}

#find:active {
    background: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}

.find-confirm {
    display: none;
}

/* ---------------------------------------- */


/* -------------------- Filters list */

.search-filters {
    display: flex;
    flex-flow: column nowrap;
}

.search-filters h3 {
    margin: 12px 0;
}

.search-filters ul {
    margin: 0;
    padding: 0;
}

.search-filters li {
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    display: inline-block;
    margin: 0 4px 8px 0;
}

.search-filters li:hover, .search-filters button:focus {
    background-color: #d9d9d9;
    transition: all 0.2s ease-in;
}

.search-filters span {
    align-items: center;
    background-color: #deebff;
    border-radius: 25px;
    color: #0065fc;
    display: inline-flex;
    height: 50px;
    justify-content: center;
    position: relative;
    width: 50px;
}

.search-filters button {
    background-color: transparent;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-size: 1rem;
    margin: 0 0 0 -45px;
    padding: 14px 16px 13px 54px;
}

/* ---------------------------------------- */


/* -------------------- Destinations informations */

.search-informations {
    display: flex;
    margin-bottom: 20px;
}

.search-informations span {
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    color: #0065fc;
    font-size: 0.7rem;
    margin: 0 10px 20px 0;
    padding: 5px 9px;
}

.search-informations p:last-child {
    padding: 4px 0 ;
}

/* ---------------------------------------- */

/* =========================================================================== */




/* ================================================== POPULAR and DESTINATION results */

.results-popular {
    background: #f2f2f2;
}

.results-popular > h2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.results-destination {
    background: #ffffff;
}


/* -------------------- Results panel */

article {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 8px #dddddd;
    margin: 15px 0;
    padding: 5px;
    transition: all 0.2s ease-in; /* Hovering effect */
}

article h2 {
    font-size: 1.01rem;
    margin: 5px 0;
}

article p {
    font-size: 0.85rem;
    margin: 0; /* fix padding 5px ARTICLE */
}

article img {
    object-fit: cover;
    object-position: 50% 50%;
}

article span { /* Rating stars */
    color: #0065fc;
    font-size: 0.7rem;
}

article span.empty {
    color: #d9d9d9;
}

/* ---------------------------------------- */


/* -------------------- Popular destinations panel */

.results-popular article {
    display: flex;
    flex-flow: row nowrap;
    height: 134px;
}

.popular-illustration img {
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 128px;
}

.popular-description {
    padding: 0 0 0 20px;
}

.popular-description h2 {
    margin: 12px 0 6px 0 ;
}

.popular-description p:last-child {
    padding-top: 15%;
}

/* ---------------------------------------- */


/* -------------------- Destination results panel */

.results-destination article img {
    border-radius: 15px 15px 0 0;
    height: 114px;
    width: 100%;
}

.destination-description  {
    margin: 5px 10px;
}

.destination-description p:last-child {
    padding-top: 5px;
}

.destination-more {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 30px;
}

/* ---------------------------------------- */

/* =========================================================================== */




/* ================================================== SUGGESTION associated with search */

.suggestions {
    padding-bottom: 30px;
}

.suggestions figure {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 8px #dddddd;
    margin: 20px 0;
    transition: all 0.2s ease-in;
}

.suggestions img {
    border-radius: 20px 20px 0 0;
    height: 134px;
    object-fit: cover;
    object-position: 50% 20%;
    width: 100%;
}

img.vertical-image {
    object-position: 50% 42%;
}

.suggestions figcaption {
    font-weight: 700;
    padding: 15px 20px;
}

/* =========================================================================== */




/* ================================================== NOTICE and HELP */

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

p.notice-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 25px 0 0;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer li {
    padding: 7px 0;
}

/* =========================================================================== */
















/* =========================================================================== */
/* ================================================== Adjustements for tablet type screens */
/* =========================================================================== */

@media screen and (min-width: 480px) {

    /* ================================================== LOGO and NAVIGATION */

    header {
        justify-content: right;
    }


    /* -------------------- Logo */

    .logo {
        flex-grow: 1;
        padding-top: 30px;
    }

    /* ---------------------------------------- */


    /* -------------------- Register link */

    .register {
        border-top: 2px solid #ffffff;
        flex-grow: 0;
        order: 4;
        padding: 40px 2% 40px 5px;
    }

    /* ---------------------------------------- */


    /* -------------------- Quick links */

    .quick-link {
        flex-grow: 0; /* limit width of "quick links" */
    }

    .quick-link ul {
        margin: 0;
    }

    .quick-link li {
        border-bottom: none;
        font-weight: 500;
        padding: 40px 10px 0 10px;
    }
    
    .quick-link li:hover {
        border-bottom: none;
    }

    .quick-link li:first-child {
        border-bottom: none;
        border-top: 2px solid #0065fc;
    }

    .quick-link li:last-child {
        border-top: 2px solid #ffffff;
    }

    .quick-link li:last-child:hover {
        border-top: 2px solid #d9d9d9;
    }

    /* ---------------------------------------- */

    /* =========================================================================== */




    /* ================================================== SEARCH a destination */

    main {
        margin: 0 20px;
    }

    h1 {
        margin-top: 24px;
    }


    /* -------------------- Search field */

    .search-destination p {
        margin: 0 0 10px 0;
    }

    #destination {
        margin-right: -36px;
    }

    #find {
        border-radius: 0 15px 15px 0;
    }

    #find span.fas {
        display: none;
    }

    .find-confirm {
        display: initial;
    }

    /* ---------------------------------------- */

    /* =========================================================================== */




    /* ================================================== POPULAR and DESTINATION results */

    .results-popular, .results-destination {
        border-radius: 25px;
    }


    /* -------------------- Popular destinations panel */
    
    .popular-panels article {
        margin: 15px auto;
        max-width: 80%;
        min-width: 390px;
    }

    .popular-illustration {
        min-width: 213px;
        width: 42%;
    }
    
    .popular-illustration img {
        width: 100%;
    }
    
    /* ---------------------------------------- */


    /* -------------------- Destination results panel */

    .destination-panels {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .destination-panels a {
        flex-grow: 1;
        width: 50%; /* two columns */
    }

    .destination-panels article {
        margin: 15px 2%;
    }

    /* ---------------------------------------- */

    /* =========================================================================== */




    /* ================================================== SUGGESTION associated with search */

    .suggestions {
        max-width: 100%;
    }

    .suggestions-panels {
        align-content: space-between;
        align-items: flex-start;
        display: flex;
        flex-flow: column wrap;
        height: 840px;
        justify-content: space-between;
    }

    .suggestions-panels a {
        width: 48%;
    }

    .suggestions-panels img {
        height: 165px;
    }

    /* =========================================================================== */




    /* ================================================== NOTICE and HELP */

    footer {
        padding: 30px 100px 30px 50px;
    }

    footer nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    footer ul {
        margin-right: 100px;
        padding-top: 0;
    }

    /* =========================================================================== */    

}
















/* =========================================================================== */
/* ================================================== Adjustements for desktop type screens */
/* =========================================================================== */

@media screen and (min-width: 1024px) {
    
    header, main {
        margin: 0 auto;
        max-width: 1340px;
        padding: 0 50px;
    }


    /* ================================================== LOGO and NAVIGATION */

    /* -------------------- Logo */

    .logo {
        padding-top: 42px;
        padding-left: 0;
    }

    /* ---------------------------------------- */


    /* -------------------- Register link */

    .quick-link li {
        min-width: 150px;
    }

    /* ---------------------------------------- */


    /* -------------------- Register link */

    .register {
        padding-right: 20px;
    }

    /* ---------------------------------------- */

    /* =========================================================================== */



    
    /* ================================================== SEARCH a destination */

    main {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: flex-end;
        align-content:stretch /* TO TEST */
    }

    section > h2 {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .search-headline, .search-destination {
        padding-left: 5px;
    }

    .search-headline p {
        margin-top: 0;
    }


    /* -------------------- Filters list */

    .search-filters {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 25px;
        margin-top: 20px;
    }
    
    .search-filters ul {
        margin-left: 32px;
    }
    
    .search-filters li {
        margin-right: 16px;
    }

    .search-filters span {
        height: 54px;
        width: 54px;
    }

    .search-filters button {
        font-size: 1.1rem;
        padding-bottom: 15px;
    }

    /* ---------------------------------------- */

    
    .search-informations {
        margin-bottom: 10px;
    }
    
    /* =========================================================================== */

   
    

    /* ================================================== POPULAR and DESTINATION results */

    /* -------------------- Popular destinations panel */

    .results-popular {
        flex: 0 1 25%;
        margin-left: 3%;
        padding: 20px 36px 0;
    }

    .popular-panels article {
        margin-bottom: 30px;
        max-width: initial;
        min-width: 275px;
    }

    .popular-illustration {
        min-width: unset;
    }
    
    .popular-illustration img {
        width: 128px;
    }

    /* ---------------------------------------- */


    /* -------------------- Destination results panel */
    
    .results-destination {
        background-color: #f2f2f2;
        flex: 1 1 0; /* "0" allow "destination results panels" to form one column with narrowest desktop resolution */
    }

    .results-destination > h2, .destination-more  {
        margin-left: 15px;
    }

    .destination-panels a {
        flex-grow: 1; /* delete ? */
        min-width: 230px;
        width: 30%;  /* auto works only on Firefox */
    }

    .destination-panels article {
        margin: 15px 6%;
    }

    /* ---------------------------------------- */

    /* =========================================================================== */




    /* ================================================== SUGGESTION associated with search */

    .suggestions {
        padding: 40px 0;
        width: 100%;
    }

    .suggestions-panels {
        height: 460px;
    }

    .suggestions-panels img {
        height: 134px;
    }
    
    .suggestions-panels a:nth-child(1) img, div.suggestions-panels a:nth-child(4) img {
        height: 367px;
    }
    
    .suggestions-panels a:nth-child(2) img {
        flex: 1 1 auto;
        height: 172px;
    }
    
    .suggestions-panels a:nth-child(3) img {
        flex: 1 1 auto;
        height: 100px;
    }
    
    .suggestions-panels a:nth-child(5) img {
        height: 120px;
    }
    
    .suggestions-panels a:nth-child(6) img {
        height: 132px;
    }

    .suggestions-panels a {
        width: 22.5%;
    }


    /* =========================================================================== */  




    /* ================================================== NOTICE and HELP */

    footer nav {
        margin: 0 auto;
        max-width: 1290px; /* always align (with main) the footer lists to the left */
    }

    /* =========================================================================== */  

}